extends layout

block content
  h1= title
  p Welcome to #{title}

  - let items = results

  div(class="container-fluid")
    div(class="row m-1")
      each item in items
        - let destination = `dispatch(\"/kabab/update?id=${item._id}\")`
        div(class="col-sm-2") Kabab Style: #{item.kabab_style} <br> Kabab Length: #{item.kabab_length} <br> Kabab Lethality: #{item.kabab_lethality} <br>
          button.btn( class="btn-primary ml-1", onclick= destination) Update
  
  script.
    function dispatch(path)
    {
      window.location.href=path
    }
